* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 32px;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: 40px auto 40px auto;
  width: 960px;
}
header {
  text-align: center;
  margin: 0 0 40px 0;
}
section {
  overflow: hidden;
  margin: 0 0 60px 0;
}
